# Node
node_modules/
web/node_modules/
server/node_modules/
npm-debug.log

# Environment
.env
.env.*

# Database temporary files
database/*.db-shm
database/*.db-wal

# Upload files
uploads/

# Build
web/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
